@using Demo.UI.Models
@{
    ViewBag.Title = "Produkty";
}

<div>
    <table id="myTable">
    </table>
</div>

<script>
    $(document).ready(function () {

        var table =  $('#myTable').dataTable({
            serverSide: true,
            processing: false,
            paging: false,
            info: false,
            ajax: {
                url: '@Consts.RavenApiRootUrl' + "Products",
                dataSrc: ''
            },
            columns: [
                {
                    name: 'Name',
                    data: "Name",
                    title: "Nazwa",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'ProductSubcategoryName',
                    data: "ProductSubcategoryName",
                    title: "Podkategoria",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'Color',
                    data: "Color",
                    title: "Kolor",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'ProductNumber',
                    data: "ProductNumber",
                    title: "Numer produktu",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'ListPrice',
                    data: "ListPrice",
                    title: "Cena",
                    sortable: false,
                    searchable: false
                    }
                    ,
                {
                    name: 'ReorderPoint',
                    data: "ReorderPoint",
                    title: "Punkt zamawiania",
                    sortable: false,
                    searchable: false
                },
                {
                    name: 'SafetyStockLevel',
                    data: "SafetyStockLevel",
                    title: "Poziom zapasów",
                    sortable: false,
                    searchable: false
                }
            ],
            "language": {
                processing: "Przetwarzanie...",
                search: "Szukaj:",
                lengthMenu: "",
                info: "",
                infoEmpty: "",
                infoFiltered: "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                infoPostFix: "",
                loadingRecords: "Wczytywanie...",
                zeroRecords: "Nie znaleziono pasujących pozycji",
                emptyTable: "Brak danych",
                paginate: {
                    first: "Pierwsza",
                    previous: "Poprzednia",
                    next: "Następna",
                    last: "Ostatnia"
                }
            },
            initComplete: function () {
                this.api().columns([0,1,2,3]).every(function () {
                    var column = this;
                    $('#myTable .head .head_hide').html('');
                    $('<br /><input class="searchColumn" type="text" placeholder="Szukaj">')
                        .appendTo($(column.header()))
                        .on('click', function (e) {
                            e.stopPropagation();
                        }).on('keyup', function () {
                            var val = $(this).val();
                            $('#myTable_filter').find('input').val("");
                            $('#myTable').DataTable().search('');
                            column.search(val).draw();

                        });
                });
            }
        });

        $('#myTable_filter input').on('keyup', function () {
            $('.searchColumn').each(function () {
                $(this).val("");
            });
            $('#myTable').DataTable().columns().search('').draw();
        });
    });


</script>
