@using Demo.UI.Models
@{
    ViewBag.Title = "Podkategorie produktów";
}
<div>
    <table id="myTable"></table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            serverSide: true,
            processing: false,
            paging: false,
            info: false,
            ajax: {
                url: '@Consts.RavenApiRootUrl' + "ProductSubcategories",
                dataSrc: ''
            },
            columns: [
                {
                    name: 'ProductCategoryName',
                    data: "ProductCategoryName",
                    title: "Kategoria",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'Name',
                    data: "Name",
                    title: "Podkategoria",
                    sortable: true,
                    searchable: false
                }
            ]
        });

        //$('#myTable thead th').each(function () { 
        //    $(this).html($(this).html() + '<br /><input type="text" placeholder="Szukaj" />');
        //});

        //// DataTable
        //var table = $('#myTable').DataTable();
        //// Apply the search
        //table.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
    });

</script>
