@using Demo.UI.Models
@{
    ViewBag.Title = "Jednostki miar";
}
<div>
    <table id="myTable"></table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            serverSide: true,
            processing: false,
            paging: false,
            info: false,
            ajax: {
                url: '@Consts.RavenApiRootUrl' + "UnitsMeasure",
                dataSrc: ''
            },
            columns: [
                {
                    name: 'Name',
                    data: "Name",
                    title: "Nazwa",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'UnitMeasureCode',
                    data: "UnitMeasureCode",
                    title: "Kod jednostki",
                    sortable: true,
                    searchable: true
                }
            ]
        });
    });

</script>