@using Demo.UI.Models

@{
    ViewBag.Title = "Stan produktów"; 
}
<div>
    <div>
        <header>
            <h4 style="text-align: center">
                Raport przedstawiający liczbę lokalizacji posiadających dany produktu oraz całkowitą liczbę sztuk
                produktu  
            </h4>
        </header>
    </div>
    <table id="myTable"></table>
</div>

<script>
    $(document).ready(function () {

       $('#myTable').dataTable({
            serverSide: true,
            processing: false,
            paging: false,
            info: false,
            ajax: {
                url: '@Consts.RavenApiRootUrl' + "ProductInventoriesGroupByProdctId",
                dataSrc: ''
            },
            columns: [
                {
                    name: 'ProductName',
                    data: "ProductName",
                    title: "Nazwa produktu",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'LocationCount',
                    data: "LocationCount",
                    title: "Liczba lokalizacji",
                    sortable: false,
                    searchable: false
                },
                {
                    name: 'QuantityCount',
                    data: "QuantityCount",
                    title: "Ilość",
                    sortable: false,
                    searchable: false
                }

            ],
            "language": {
                processing: "Przetwarzanie...",
                search: "Szukaj:",
                lengthMenu: "",
                info: "",
                infoEmpty: "",
                infoFiltered: "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                infoPostFix: "",
                loadingRecords: "Wczytywanie...",
                zeroRecords: "Nie znaleziono pasujących pozycji",
                emptyTable: "Brak danych",
                paginate: {
                    first: "Pierwsza",
                    previous: "Poprzednia",
                    next: "Następna",
                    last: "Ostatnia"
                }
            }

        }
        );

    });
</script>
