@using Demo.UI.Models

@{
    ViewBag.Title = "Stan produktów";
}
<div>
    <table id="myTable"></table>
</div>

<script>
    $(document).ready(function () {

       $('#myTable').dataTable({
            serverSide: true,
            processing: false,
            paging: false,
            info: false,
            ajax: {
                url: '@Consts.RavenApiRootUrl' + "ProductInventories",
                dataSrc: ''
            },
            columns: [
                {
                    name: 'ProductName',
                    data: "ProductName",
                    title: "Nazwa produktu",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'LocationName',
                    data: "LocationName",
                    title: "Lokalizacja",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'Shelf',
                    data: "Shelf",
                    title: "Schowek",
                    sortable: false,
                    searchable: false
                },
                {
                    name: 'Bin',
                    data: "Bin",
                    title: "Pojemnik",
                    sortable: false,
                    searchable: false
                },
                {
                    name: 'Quantity',
                    data: "Quantity",
                    title: "Ilość",
                    sortable: false,
                    searchable: false
                }

            ]

        }
        );

    });

    function renderNameColumnFunc(data, type, full, meta) {
        // TODO
        var txt = "<button>Edytuj</button>";
        return txt;
    }
</script>
