@using System.EnterpriseServices
@model string

<div class="form-group">
    @Html.PasswordFor(m => m, new { @class = "form-control", placeholder = WebUtility.HtmlDecode(Html.DisplayNameFor(m => m).ToHtmlString()), autofocus = "autofocus" })
    @Html.ValidationMessageFor(m => m)
</div>

